<div class="row">
  <div class="col-12">
    <div class="col-lg-4 col-xs-12 div-button-home">
      <button type="button" title="ESTOQUE" class="button-home icone-expand" (click)="pessoaIndex()">
        <i class="pi pi-home"></i> &nbsp;
        ESTOQUE
      </button>
    </div>
    <div class="col-lg-4 col-xs-12 div-button-home">
      <button type="button" title="PATRIMÔNIO" class="button-home icone-expand">
        <i class="pi pi-briefcase"></i> &nbsp;
        PATRIMÔNIO
      </button>
    </div>
    <div class="col-lg-4 col-xs-12 div-button-home">
      <button type="button" title="DESPESAS" class="button-home icone-expand">
        <i class="pi pi-dollar"></i> &nbsp;
        DESPESAS
      </button>
    </div>
  </div>
</div>
