<div class="default-padding">
  <div class="box box-espades">
    <div class="box-body">
      <div class="row">
        <div class="col-lg-4 col-xs-12 div-button-home">
          <button type="button" title="ESTOQUE" class="button-home icone-expand" (click)="estoqueIndex()">
            <i class="pi pi-home"></i> &nbsp;
            ESTOQUE
          </button>
        </div>
        <div class="col-lg-4 col-xs-12 div-button-home">
          <button type="button" title="PATRIMÔNIO" class="button-home icone-expand" (click)="patrimonioIndex()">
            <i class="pi pi-briefcase"></i> &nbsp;
            PATRIMÔNIO
          </button>
        </div>
        <div class="col-lg-4 col-xs-12 div-button-home">
          <button type="button" title="DESPESAS" class="button-home icone-expand" (click)="despesaIndex()">
            <i class="pi pi-dollar"></i> &nbsp;
            DESPESAS
          </button>
        </div>
        <div class="col-lg-4 col-xs-12 div-button-home">
          <button type="button" title="USUÁRIOS" class="button-home icone-expand" (click)="pessoaIndex()">
            <i class="pi pi-users"></i> &nbsp;
            USUÁRIOS
          </button>
        </div>
        <div class="col-lg-4 col-xs-12 div-button-home">
          <button type="button" title="CLIENTES" class="button-home icone-expand" (click)="clienteIndex()">
            <i class="pi pi-globe"></i> &nbsp;
            CLIENTES
          </button>
        </div>
        <div class="col-lg-4 col-xs-12 div-button-home">
          <button type="button" title="PRODUTOS" class="button-home icone-expand" (click)="produtoIndex()">
            <i class="pi pi-briefcase"></i> &nbsp;
            PRODUTOS
          </button>
        </div>
        <div class="col-lg-4 col-xs-12 div-button-home">
          <button type="button" title="SETORES" class="button-home icone-expand" (click)="setorIndex()">
            <i class="pi pi-sitemap"></i> &nbsp;
            SETORES
          </button>
        </div>
        <div class="col-lg-4 col-xs-12 div-button-home">
          <button type="button" title="FUNCIONÁRIOS" class="button-home icone-expand" (click)="funcionarioIndex()">
            <i class="pi pi-circle-off"></i> &nbsp;
            FUNCIONÁRIOS
          </button>
        </div>
        <div class="col-lg-4 col-xs-12 div-button-home">
          <button type="button" title="RESERVAS" class="button-home icone-expand" (click)="reservaIndex()">
            <i class="pi pi-calendar-times"></i> &nbsp;
            RESERVAS
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
