*.suo
*.user
*.ide
*.ide-shm
*.ide-wal
*.cache
*.pubxml
*.pubxml.user
bin/*
obj/*
Bin/*
Obj/*
*/bin/*
*/obj/*
*/Bin/*
*/Obj/*
packages/*
*/packages/*
.vs/*
.vs/*.*
*.txt
*/.vs/*
*.hot-update.js.gz
node_modules/
*/*.pubxml
*/*.pubxml.user
