@import "../../variables.scss";

html {
  background: darkblue;
}

html,
body,
app-root,
.full-screen {
  width: 100%;
  height: 100%;
  margin: 0;
}

.full-screen {
  background-color: #f5f5f5f5;
}

app-root {
  display: block;
}

.default-padding {
  background-color: white;
  max-width: 100vw;
  top: -15px;
  position: relative;
  border-radius: 5px;
}

.default-padding > div {
  padding: 10px 10px 10px 10px;
  background: white;
}

.ripple {
  background-position: center !important;
  transition: background 0.8s !important;
}

.ripple:hover {
  background: white radial-gradient(circle, transparent 1%, #d3d3d3 1%) center/15000% !important;
}

.ripple:active {
  background-color: #e5e5e5 !important;
  background-size: 100% !important;
  transition: background 0s !important;
}

.breadcrumb-background {
  background: whitesmoke;
}

.btn-submit {
  color: #fff;
  float: right;
}

.btn-cancel {
  background: #C13A3A;
  color: #fff;
  float: left;
}

.position-icon-btn {
  top: 3px;
  position: relative;
  right: 3px;
}

.ui-chkbox-box.ui-state-active {
  background-color: #28a745 !important;
  border-color: #175e27 !important;
}

body .ui-dropdown {
  width: 96%;
}

.ui-state-active {
  background-color: darkorange !important;
  border-color: darkorange !important;
  border-style: solid;
  border-radius: 5px;
  color: white !important;
}

body .ui-selectbutton .ui-button {
  background-color: transparent;
  color: blue;
}

.btn-background-lightblue:hover {
  background-color: darkblue;
  border-color: darkblue;
  color: white;
}

.float-left {
  float: left;
  position: relative;
}

.float-right {
  float: right;
  position: relative;
}

.btn-drop-down {
  height: 34px;
  padding-top: 3px;
}

body .ui-selectbutton .ui-button:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

body .ui-selectbutton .ui-button:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ui-dialog-mask {
  z-index: 1000 !important;
}

.side-bar {
  min-width: 62px;
}

.display-on-small {
  display: none;
}

.white-bg {
  background-color: white;
}

.chart-data-table {
  max-height: 95vh;
}

.chart-modal .ui-dialog-content {
  padding: 0 !important;
  height: 100%;
}

.box-chart .box-footer {
  font-size: 12px;
  text-align: end;
  padding: 10px;
  background-color: #fbfbfb;
}

.btn-small {
  padding: 4px 5px 0;
}

.size-x-large {
  font-size: x-large;
}

td {
  border: solid lightgray;
  padding: 2px 0;
}

th {
  border: solid lightgray;
  padding: 2px 0;
}

hr {
  margin-top: 5px;
}

.ui-dropdown .ui-dropdown-panel {
  background: white;
}
