<div class="default-padding">
  <div class="box box-acif">
    <div class="box-body">
      <div class="row">
        <div class="col-lg-12">
          <h3>Funcionário</h3>
          <div class="row" *ngIf="!entity.id || entity.id == 0">
            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12 float-left drop-down-small">
              <label for="produto">Produto</label>
              <p-dropdown [options]="produtos" [(ngModel)]="entity.id_Produto" filter="true" name="produto"
                          [emptyFilterMessage]="textConstant.NoRecordsFoundLabel" placeholder="Selecione...">
              </p-dropdown>
            </div>
          </div>
          <div class="row" *ngIf="entity.id && entity.id != 0">
            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <label for="nome">Produto</label>
              <input type="text" name="produto" class="form-control" [(ngModel)]="entity.produto.descricao"
                     id="produto" placeholder="Produto" maxlength="100" readonly>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <label for="descricao">Descrição</label>
              <input name="descricao" type="text" class="form-control" [(ngModel)]="entity.descricao" id="descricao"
                     placeholder="Descrição" maxlength="100" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <label for="localiza">Localização</label>
              <input name="localiza" type="text" class="form-control" [(ngModel)]="entity.localizacao" id="localiza"
                     placeholder="Localização" maxlength="5" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <label for="nome">Data Compra</label>
              <br />
              <p-calendar [(ngModel)]="entity.data_Compra" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"
                          [locale]="pt" inputStyleClass="input-date"></p-calendar>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <label for="quantidade">Quantidade</label>
              <input name="quantidade" type="number" class="form-control" [(ngModel)]="entity.quantidade" id="quantidade"
                     placeholder="Valor" maxlength="12" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <label for="valor">Valor</label>
              <input name="valor" type="text" class="form-control" [(ngModel)]="entity.valor" id="valor" prefix="R$ "
                     mask="XX.000,00" placeholder="Valor" maxlength="12" required>
            </div>
          </div>
          <form-footer (onBackClick)="indexPage()" (onSaveClick)="save()"></form-footer>
        </div>
      </div>
    </div>
  </div>
</div>
