<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/home"]'>
        <img src="../../assets/images/escrito-logo.png" alt="logo" style="width:150px;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <button type="button" (click)="logout()" class="btn-logout icone-expand" title="Logout">
          <i class="pi pi-power-off"></i>
        </button>
      </div>
    </div>
  </nav>
</header>
