@import "../../variables.scss";

.login-box {
  position: relative;
  top: 120px;
  padding: 10px;
}

.login-container {
  background: white;
  width: 300px;
  max-width: 100%;
  margin: 50px auto;
  border-radius: 5%;
}

.btn-login {
  background-color: $espades-darkorange;
  color: #fff;
  height: 39px;
}

.img-logo {
  width: 70%;
}

a {
  color: #fff;
}

.row-custom {
  max-width: 100%;
  padding: 0;
  margin: 0;
}
